.env
__pycache__/
*.pyc
*.pyo
*.pyd
extensions/channel_visibility_manager.py
extensions/command_check.py
extensions/commands_config.json
extensions/emoji_changer.py
extensions/family_choices.json
extensions/faq_mudae_1.py
extensions/faq_mudae_2.py
extensions/inscription.py
extensions/last_messages.json
extensions/mudae_info_scheduler.json
extensions/mudae_info_scheduler.py
extensions/mudae_role_manager.py
extensions/presentation.py
extensions/presentation_messages.json
extensions/previous_presentations.json
extensions/role_management.py
extensions/saved_presentations.json
extensions/timeout_handler.py
extensions/timeout2.py
extensions/watch.py